.burger {
  position: fixed;
  z-index: 30;
  bottom: 5px;
  left: 5%;
  width: 90%;
  @apply .flex .bg-white .justify-between .shadow .rounded-full .px-1 .pt-1 .items-center;
}

.burger > .option {
  @apply .text-gray-600 .text-xs .flex .flex-col .items-center .flex-1;
}

.burger > .option > span {
  @apply .text-gray-700 .font-medium;
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}
